<!DOCTYPE html>
<html>
  <head>
    
  	<!--<link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAJn/AACKEgAzM8wAmWYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEREREAREREQQAAAQBAAABBAAABAEAAAEEAAAEAQAAAQQAAAQBAAABBAAABAEAAAEEREREAREREQAAAAAAAAAAAAAAAAAAAAAMzMzMAIiIiIwAAAwAgAAAjAAADACAAACMAAAMAIAAAIwAAAwAgAAAjAAADACAAACMzMzMAIiIiIBgAAAfb4AAH2+AAB9vgAAfb4AAH2+AAABgAAA//8AAP//AAABgAAAfb4AAH2+AAB9vgAAfb4AAH2+AAABgAAA" rel="icon" type="image/x-icon" /> -Este no funciona-->
  	


    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon” href=”favicon.ico" type="image/x-icon" /><!--eso era el favicon pag 28-->
  </head>
  <body>
    <!--<h1><%= title %></h1>-->
    <p><h1><br>Bienvenido a <%= title %></br></h1></p> <!--Welcome to-esto era el texto antiguo--> 
    <p>¡El portal donde podrá crear sus propios juegos! <p> <!--linea añadida-->
    <p><a href="/quizes/question">Comience a jugar</a></p>  <!--Añadido fase primera pregunta-->
  </body>
</html>
