<form method="get" action="/quizes/<%= quiz.id %>/answer">        

  Pregunta: <%= quiz.pregunta %> <p>
  <input type="text" name="respuesta" value="Respuesta"/>
  <input type="submit" value="Enviar">
</form>
<br>
<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo Comentario</button></a></p>
<br>
<p id="comment-tit"><strong>Comentarios:</strong></p>
<br>
<div class="comment-block">
<% for (index in quiz.Comments) { %>
  <p id="comentarios">&#9658; <%= quiz.Comments[index].texto %></p>
<% } %>
</div>